HELP.md
c7/backend/.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.DS_Store


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin
/.idea/
/.vscode/
/c7/external/node_modules/
/backend/target/
/backend/db/camunda-h2-database.mv.db
c7/backend/.gradle
c7/backend/.gradle
c7/backend/target/process-test-coverage
c8/backend/.gradle
c8/backend/target/process-test-coverage
c8/external/node_modules
